@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Red Hat Mono', monospace;
    font-size: 1.8rem;
    color: #1B1A17;
}

h1,
h2,
h3 {
    color: black;
}                
                     /* Header */
.grid {
    display: grid;
}
.header {
    background-color: #F3E9DD;
    justify-items: center;
    padding: 0 2rem;
}
.header__image {
    margin-right: 1rem;
}
.header__image__container {
    order: -1;
}
.ul {
    width: 100%;
    list-style-type: none;
}
.list__item {
    font-weight: bold;
    margin: 3rem 0;
}
.list__item a {
    text-decoration: none;
    color: inherit;
    transition: color .2s;
}
.list__item a:hover {
    color: #fff;
}
.nav__heading {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .grid__1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .header__image__container {
        justify-self: start;
        margin: 2rem 0;
    }
    .ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list__item {
        margin: 2rem 2rem;
    }
    .list {
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
                       /* Input block */
.input {
    width: 100%;
    margin: 5rem 0;
    justify-items: center;
}
.input__heading {
    margin-bottom: 1.5rem;
}
input {
    border: 0;
    min-width: 26rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1.5rem 1.5rem;
    outline: 0;
    box-shadow: 0 0 3px 5px #ccc;
    transition: box-shadow .3s;
}
input:hover {

}
.button__input {
    font-size: inherit;
    font-weight: bold;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #fff;
    background-color: #FFAD60;
    padding: 1rem 2rem;
    min-width: 20rem;
    transition: background-color .3s;
}
.button__input:hover {
    background-color: #643509;
}
@media screen and (min-width: 768px) {
    input {
        min-width: 50rem;
    }
    .button__input {
        min-width: 40rem;
    }
}
                  /* Feature block */
.feature__block {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.feature__content {
    justify-items: center;   
}
.feature__text {
        text-align: center;
}
.feature__icon {
    color: #FFAD60;
    margin-bottom: 2rem;
}
.feature__block h2 {
    margin-bottom: 1rem;
}
.video {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .feature__content {
        align-items: center;
        grid-template-columns: 0.2fr 1fr;
    } 
    .feature__text {
        text-align: left;
    }
}

             /* CARDS       */
.card {
    margin: 2rem 2rem;
    max-width: 80%;
    border-radius: 7px;
    background-color: #FFF9B6;
    overflow: hidden;
    text-align: center;
    transition: transform .4s;
    margin: 4rem auto;
}
.cards {
    margin-bottom: 2rem;
}
.card:hover {
    transform: scale(1.1);
}
.card__header {
    padding: 1rem 0;
    background-color: #FFE699;
}
.button__card {
    font-size: inherit;
    font-weight: bold;
    border-radius: 7px;
    outline: 0;
    border: 1px solid #fff;
    background-color: #FFAD60;
    width: 70%;
    padding: 1rem 1rem;
    transition: all .3s;
    margin: 2rem 0;
}
.button__card:hover {
    background-color: #643509;
}
.card__body{
    text-align: center;
}
.card__body p {
    margin: 2rem 0;
}
.card__body h3 {
    margin-top: 1rem;
    font-size: 4rem;
}
@media screen and (min-width: 768px) {
    .grid__1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        
    }
}
             /* Footer */
.footer {
    max-width: 100%;
    background-color: #F3E9DD;
}
.footer p {
    text-align: center;
}
.footer .ul {
     display: flex;
     justify-content: center;
}
.footer .list__item {
    padding: 0 1.5rem;
}
@media screen and (min-width: 768px) {
    .footer .list__item {
        padding: 0 2rem;
    }
    
}